<div ng-controller="translate" style=" padding: 15%; padding-top: 5%">
    <br/>
    <br/>
    <br/>
    <h2 style='text-align: center;'>{{'whatsNew' | translate}}</h2>
    
    <hr>
    <h3 style='text-align: left;'>Version 01-02-2017</h3>
    <hr>
    <p>Cambios en la interfaz de REDI: </p> 
    <ul class="dashed">
        <li>Correcciones en la interfaz de REDI</li>
        <li>Nuevos reportes en la página web</li>
        <li>Cambios en la opción de Cubo de Datos RDF</li>
        <li>Nuevos datos en la plataforma</li>
    </ul> <br/>
    
    
    <br/>
    <br/>
    
   <div class='col-md-12' ng-include="'/wkhome/partials/footnote.html'"/> 
</div>
